/* @font-face {
    font-family: LatoBold;
    src: url("assets/Lato-Bold.ttf");
} */

html, body
{
    padding: 0;
    margin: 0;
    background-color: rgb(30, 30, 41);
    height: 100%;
}

/* Navigation Bar */

#navbar a
{
    text-decoration: none;
}

#navbar
{
    display: flex;
    background-color: rgb(23, 23, 24);
    justify-content: center;
    box-shadow: 0 2px 15px 3px #000000;
}

.navbar-element
{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    color: rgb(155, 155, 155);
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.navbar-element:hover
{
    cursor: pointer;
    color: white;
}

/* Home Page */

#home-info-section
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 180px 20px 80px 20px;
    text-align: center;
}

/* Projects Page */

#info-section
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 60px 20px 80px 20px;
    text-align: center;
}

#info-title
{
    font-family: "Lato";
    font-weight: 700;
    color: rgb(230, 230, 230);
    /* color: rgb(108, 172, 255); */
    font-size: 50px;
    /* text-decoration: underline rgb(206, 183, 53); */
}

#info-text
{
    font-family: "Open Sans";
    color: rgb(199, 199, 199);
    width: 30%;
    margin: 2px 0 5px 0;
}

#project-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: rgb(23, 23, 26);
    box-shadow: 0 2px 15px 3px #000000;
}

.project-entry
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    padding: 10px;
}

.project-entry-even
{
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.project-entry-even .project-image
{
    margin: 0 30px 0 0;
}

.project-title
{
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.project-text
{
    font-family: "Open Sans";
    color: rgb(173, 173, 173);
    width: 70%;
    margin-right: 50px;
    margin: 20px 20px 0 20px;
}

.text-list li
{
    text-align: left;
    margin-top: 10px;
}

.text-list li span
{
    position: relative;
    left: 10px;
}

.text-link
{
    color: rgb(164, 107, 255);
}

.text-link:hover
{
    color: rgb(203, 171, 255);
}

.project-image
{
    margin: 0 0 0 40px;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
    max-width: 300px;
    max-height: 200px;
}

.github-button
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: black;
    border-radius: 10px;
    margin: 5px 0px 5px 20px;
}

.github-button p
{
    font-size: 14px;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none!important;
    color: white;
}

.github-button:hover
{
    cursor: pointer;
}

.github-button img
{
    padding: 5px 0px 5px 10px;
    width: 18px;
    height: 18px;
}

.project-header
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.github-link
{
    text-decoration: none;
}

@media screen and (max-width: 700px)
{
    #info-text
    {
        width: 95%;
    }

    .project-entry
    {
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .project-text
    {
        width: 85%;
    }

    .project-image
    {
        max-width: 85%;
        max-height: 200px;
        margin: 20px 0;
    }

    .project-entry-even .project-image
    {
        margin: 20px 0;
    }
}

@media screen and (max-width: 1200px) and (min-width: 701px)
{
    .project-entry
    {
        width: 75%;
    }
}