@font-face {
    font-family: LatoBold;
    src: url("assets/Lato-Bold.ttf");
}

html, body
{
    padding: 0;
    margin: 0;
    background-color: rgb(31, 31, 34);
}

/* Navigation Bar */

#navbar a
{
    text-decoration: none;
}

#navbar
{
    display: flex;
    background-image: linear-gradient(rgb(23, 23, 24), rgb(28, 28, 29));
    justify-content: center;
    box-shadow: 0 2px 15px 3px #000000;
}

.navbar-element
{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    color: rgb(155, 155, 155);
    font-family: LatoBold, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navbar-element:hover
{
    cursor: pointer;
    color: white;
}

/* Projects Page */

#info-section
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 20px 100px 20px;
    text-align: center;
}

#info-title
{
    font-family: LatoBold;
    color: rgb(230, 230, 230);
    /* color: rgb(108, 172, 255); */
    font-size: 50px;
    /* text-decoration: underline rgb(206, 183, 53); */
}

#info-text
{
    font-family: Open Sans;
    color: rgb(199, 199, 199);
    width: 30%;
    margin: 2px 0 5px 0;
}

#project-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: rgb(23, 23, 26);
    /* background-image: linear-gradient(rgb(27, 27, 30), rgb(18, 18, 19)); */
    box-shadow: 0 2px 15px 3px #000000;
}

.project-entry
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    padding: 10px;
}

/* .project-entry:hover
{
    cursor: pointer;
    background-color: rgba(32, 32, 34, 0.7);
    box-shadow: 3px 3px 20px 1px #000000;
} */

/* .project-entry:hover .project-text
{
    color: rgb(207, 207, 207);
} */

.project-title
{
    color: white;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.project-text
{
    font-family: Open Sans;
    color: rgb(173, 173, 173);
    width: 70%;
    margin-right: 50px;
    margin: 20px 20px 0 20px;
}

.text-list li
{
    text-align: left;
    margin-top: 10px;
}

.text-list li span
{
    position: relative;
    left: 10px;
}

.text-link
{
    color: rgb(164, 107, 255);
}

.text-link:hover
{
    color: rgb(203, 171, 255);
}

.project-image
{
    height: 250px;
    margin: 0 0 0 40px;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}

/* .github-link
{
    background-color: black;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: 25px;
} */

.github-button
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: black;
    border-radius: 10px;
    margin: 5px 0px 5px 20px;
}

.github-button p
{
    font-size: 14px;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none!important;
    color: white;
}

.github-button:hover
{
    cursor: pointer;
}

.github-button img
{
    padding: 5px 0px 5px 10px;
    width: 18px;
    height: 18px;
}

.project-header
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.github-link
{
    text-decoration: none;
}